*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

:root{
    --bg:#ffffff;
    --text:#111827;
    --card:#f8fafc;
    --primary:#2563eb;
    --border:#e5e7eb;
    --shadow:0 10px 30px rgba(0,0,0,.08);
}

body.dark-mode{
    --bg:#071120;
    --text:#f8fafc;
    --card:#111827;
    --primary:#3b82f6;
    --border:#1f2937;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--bg);
    color:var(--text);
    transition:.3s;
}

/* NAVBAR */

.header{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    backdrop-filter:blur(15px);
    border-bottom:1px solid var(--border);
    background:rgba(255,255,255,.8);
}

body.dark-mode .header{
    background:rgba(7,17,32,.9);
}

.navbar{
    max-width:1200px;
    margin:auto;
    padding:20px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    text-decoration:none;
    color:var(--primary);
    font-size:1.6rem;
    font-weight:700;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:var(--text);
    font-weight:500;
}

#theme-toggle{
    border:none;
    width:45px;
    height:45px;
    border-radius:50%;
    cursor:pointer;
}
